<!-- wp:template-part {"slug":"header","area":"header"} /-->

<!-- wp:group {"tagName":"main","className":"buvnams-main","layout":{"type":"default"}} -->
<main class="wp-block-group buvnams-main">
	<!-- wp:pattern {"slug":"buvnams/hero"} /-->
	<!-- wp:pattern {"slug":"buvnams/services"} /-->
	<!-- wp:pattern {"slug":"buvnams/quality"} /-->
	<!-- wp:pattern {"slug":"buvnams/reviews"} /-->
	<!-- wp:pattern {"slug":"buvnams/contact"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->
