<!-- wp:template-part {"slug":"header","area":"header"} /-->

<!-- wp:group {"tagName":"main","className":"construction-main","layout":{"type":"default"}} -->
<main class="wp-block-group construction-main">
	<!-- wp:pattern {"slug":"construction/hero"} /-->
	<!-- wp:pattern {"slug":"construction/services"} /-->
	<!-- wp:pattern {"slug":"construction/quality"} /-->
	<!-- wp:pattern {"slug":"construction/reviews"} /-->
	<!-- wp:pattern {"slug":"construction/contact"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->
